<!-- Footer -->
<footer class="page-section bg-gray-lighter footer pb-60">
  <div class="container">
      
    <!-- Footer Logo -->
    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
        <a href="#top"><img src="http://static.playola.fm/logo-footer.png" width="78" height="36" alt="" /></a>
    </div>
    <!-- End Footer Logo -->
      
    <!-- Footer Text -->
    <div class="footer-text">
        
      <!-- Copyright -->
      <div class="footer-copy font-alt">
        <a href="#" target="_blank">&copy; Playola 2015</a>
      </div>
      <!-- End Copyright -->
      
      <div class="footer-made">
        A New Kind of Radio
      </div>
        
    </div>
    <!-- End Footer Text --> 
          
  </div>
       
       
  <!-- Top Link -->
  <!-- <div class="local-scroll">
  a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
  </div>-->
  <!-- End Top Link -->
       
</footer>
<!-- End Footer -->