<section class="page-section background-image">
  <div class="container relative">
        
  <!-- Row -->
  <div class="row">

    <h1>Sign Up Via Twitter</h1>
    <h2>We will never, <strong>never</strong>, tweet to your followers.  </h2>

    <a class="btn btn-default large" ng-click="launchTwitterPolicyModal()">Tell Me More</a>
    <a class="btn-auth btn-twitter large" ng-click="loginOauth('twitter')" href=""><img src="http://static.playola.fm/sign-in-with-twitter-gray.png"></img></a>

  </div>
</div>