<div ng-controller="NavbarCtrl">
<!-- Navigation panel -->
<nav sticky scroll-position="scroll" class="main-nav dark stick-fixed" ng-class="{ transparent: scroll < 10, 'small-height': scroll > 10 }">
  <div class="full-wrapper relative clearfix">
       
  <div scroll-position="scroll" class="nav-logo-wrap local-scroll" ng-class="{ 'small-height': scroll > 10 }">
    <a href="#" scroll-position="scroll" class="logo" ng-class="{ 'small-height': scroll > 10 }">
      <img src="http://static.playola.fm/logo-white.png" width="118" height="27" alt="" />
    </a>
  </div>
  <div class="mobile-nav" scroll-position="scroll" ng-class="{ 'small-height': scroll > 10 }">
    <i class="fa fa-bars"></i>
  </div>
  
  <!-- Main Menu -->
  <div class="inner-nav desktop-nav">
    <ul class="clearlist">
      <li>
        <a ng-show="isLoggedIn()" href="/station" class="active">Listen </a>
      </li>
         
      <!-- Item With Sub -->
      <li>
        <a ng-show="isLoggedIn()" href="#" mn-has-sub class="mn-has-sub">Broadcast<i class="fa fa-angle-down"></i></a>
          
        <!-- Sub Multilevel -->
        <ul class="mn-sub mn-has-multi">
              
          <li class="mn-sub-multi">
                  
            <ul>
              <li>
                <a href="/station/mySchedule">My Schedule</a>
              </li>
              <li>
                <a href="/station/songManager">My Songs</a>
              </li>
              <li>
                <a href="/station/songMarkup">Song Markup</a>
              </li>  
            </ul>
                  
          </li>
         </ul>
      <!-- End Sub Multilevel -->
      </li>
      <!-- End Sub Multilevel Main -->
                    
      <!-- Divider -->
      <li ng-show="isLoggedIn();"><a>&nbsp;|&nbsp;</a></li>
      <!-- End Divider -->
               
      <!-- Item With Sub -->
      <li>
        <a href="#" ng-show="isLoggedIn();" class="mn-has-sub">@BrianKeaneTunes<i class="fa fa-angle-down"></i></a>
          
        <!-- Sub Multilevel -->
        <ul class="mn-sub mn-has-multi">
            
          <li class="mn-sub-multi">
              
            <ul>
              <li>
                <a href="#"><i class="fa fa-plus-circle fa-sm"></i>Settings</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-tachometer fa-sm"></i>Station Creator</a>
              </li>
              <li>
                <a href="#" ng-click="logout()"><i class="fa fa-link fa-sm"></i>Logout</a>
              </li>
            </ul>
              
          </li>
        </ul>
      <!-- End Sub Multilevel -->
      </li>
      <!-- End Item With Sub -->
      
     
      
      <!-- RIGHT NAV ITEMS -->
      <li>
        <a href="#" ng-show="!isLoggedIn()" ng-click="loginOauth('twitter')"><i class=""></i>Sign Up / Sign In</a>
      </li>
      <!-- End ITEM -->
      
     </ul>
    </div>
        <!-- End Main Menu -->
  </div>
</nav>
<!-- End Navigation panel -->
</div>