<div class='mic-image-inverse'>
  <div ng-joy-ride="mySongsJoyride" config="mySongsJoyrideConfig" on-finish="onFinish()"  on-skip="onSkip()"></div>
  <div class="row top-row">
    <h1 class="headline">Song Manager</h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <h4 class="small-headline">Your Songs</h4>
      <p class="sub-headline">These are the songs that will automatically play when you're not around.</p>
      <div class="alert alert-danger" role="alert" ng-show="rotationItemsMessage">
            {{ rotationItemsMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="rotationItemsMessage = null;"><span aria-hidden="true">&times;</span></button>
      </div>
      <ul id="spinsPerWeekList" ng-model="rotationItems" dnd-list="rotationItems"  dnd-drop="newSongDropped(event, index, item, external, type)">
        <li ng-repeat="rotationItem in rotationItems" id="songId{{rotationItem._song._id}}">
          <span class="songlist-title">{{ rotationItem._song.title }}</span>
          <span class="songlist-artist">{{ rotationItem._song.artist }}</span>

          <select class="rotationSelect" ng-model="rotationItem.bin" ng-click="saveOldBin(rotationItem)" ng-change="updateRotationItemBin(rotationItem)"
            ng-options="bin as bin for bin in bins">
          </select>

          <a href="#" class="close" title="delete" ng-click="removeRotationItem(rotationItem)">×</a>

        </li>
      </ul>

    </div>
    <div class="col-sm-12 col-md-5 columns no-gutter">
      <h4 class="small-headline">Songs</h4>
      <p class="sub-headline">Search our Catalog</p>  
      <input type="text" id="searchbox" placeholder="Enter Title and/or Artist Here" ng-model="searchText" ng-model-options="{ debounce: 500 }" ng-change="findSongs(searchText)"/>

      <ul id="catalog-list" class="song-manager-page" dnd-list="catalogSearchResults">
        <li ng-repeat="song in catalogSearchResults"  dnd-draggable="song" dnd-moved="catalogSearchResults.splice($index, 1)" dnd-effect-allowed="move"  dnd-selected="catalogSearchResults.selected = item" ng-class="{'selected': models.selected === song}">
          <span class="songlist-title">{{ song.title }}</span>
          <span class="songlist-artist">{{ song.artist }}</span>
        </li>
      </ul>

    </div>
  </div>
</div>

<!-- <div class="brown-background">
  <button id='resetStation'>Reset Station</button>
  <button id='resetSongList'>Reset SongList</button>

</div> -->
