<div class='mic-image-inverse'>
  <div ng-joy-ride="mySongsJoyride" config="mySongsJoyrideConfig" on-finish="onFinish()"  on-skip="onSkip()"></div>
  <div class="row top-row">
    <h1 class="headline">Song Manager</h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <h4 class="small-headline">Your Songs</h4>
      <p class="sub-headline">These are the songs that will automatically play when you're not around.</p>
      <div class="alert alert-danger" role="alert" ng-hide="!rotationItemsMessage">
            {{ rotationItemsMessage }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="rotationItemsMessage = undefined;"><span aria-hidden="true">&times;</span></button>
      </div>

      <ul id="rotationItemsList" ui-sortable="rotationItemsListOptions" ng-model="rotationItems">
        <li ng-repeat="rotationItem in rotationItems" id="songId{{rotationItem._song._id}}">
          <span class="songlist-title">{{ rotationItem._song.title }}</span>
          <span class="songlist-artist">{{ rotationItem._song.artist }}</span>

          <select class="rotationSelect" ng-model="rotationItem.bin" ng-click="saveOldBin(rotationItem)" ng-change="updateRotationItemBin(rotationItem)"
            ng-options="bin as bin for bin in bins">
          </select>

          <a href="#" class="close" title="delete" ng-click="removeRotationItem(rotationItem)">×</a>

        </li>
      </ul>

    </div>
    <div class="col-sm-12 col-md-5 columns no-gutter">
      <h4 class="small-headline">Songs</h4>
      <p class="sub-headline">Search our Catalog</p>  
      <div class="tab-pane fade in active" id="one">

        <dl class="accordion">
          <dt class="current">
            <!-- <form>
              <div style="width:50px; margin:15px 8px 0 0; float:left;">SEARCH:</div> <input style="height:35px; float:left; width:80%; margin:5px 0px 0 15px; padding:15px; color:#000; font-size:14px;" type="text" name="firstname">
            </form>-->
                    
            <div class="mb-20 mb-md-10">
              <!-- Name -->
              <input type="text" name="search" id="name-4" class="form-control input-lg" maxlength="100" placeholder="Enter Title and/or Artist Here" ng-model="$root.searchText" ng-model-options="{ debounce: 500 }" ng-change="findSongs($root.searchText)">
            </div>
          </dt>
                
          <form><input class="song-search" type="checkbox"></form>
          
          <div class="my-songs-only color-fix">only my songs</div> 
          <div class="clearfix"></div>
        </dl>


        <!-- Toggle -->
        <dl class="accordion" id="catalog-list" ui-sortable="catalogListOptions" ng-model="catalogSearchResults">
          <dt class="music_content" ng-repeat="song in catalogSearchResults" >
            <span class="my-songs-list">{{ song.artist }}/ {{ song.title }}</span>
          </dt>
                
        </dl>
      </div>

    </div>
  </div>
</div>

<!-- <div class="brown-background">
  <button id='resetStation'>Reset Station</button>
  <button id='resetSongList'>Reset SongList</button>

</div> -->
