
h3 a {
  background: #e54f41; 
  display: block;
  padding: 10px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 2px solid #c84337;
 
}

h3 a:hover {
  background: #c84337 15px 13px no-repeat;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
 
}

h3 a:visited {
  background: #e54f41 15px 13px no-repeat;
  text-decoration: none;
 
}


h3:hover { background: rgb(228,10,85); text-decoration:none; }
h3.open  {
	background: rgb(255,70,120);
	color: #fff;
	text-decoration: none;
}
 
h3.open a { background-position: 13px -25px; text-decoration: none; color:#000; }
h3.open a:hover {
	background-position: 13px -25px; 
	color: #fff;
	text-decoration: none;
}
h3 + div { padding: 10px; }
h2 + div,
.example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

.font11 {font-size:11px;}
.font13 {font-size:13px;}
.background-image {background:url(../images/bg.jpg) repeat-x #fff; background-position:center;}

/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
}

/* CSS3 Animation example
--- */
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}
#css3-animated-example .content {
    margin: 0 auto;
    padding: 15px 20px;
    width: 1170px;
}

#css3-animated-example h3.open + div {
  height: auto;
  background: #eeeeee;
}

/* Event example
--- */
pre#event-log {
  background: #fafacc;
  padding: 10px;
  display: block;
}

.mar15t {margin-top:15px;}
.mar25t {margin-top:25px;}
.color-fix {color:#333; font-weight:500;}


/* ------ PLAY BUTTON */

.audiobuttons.small {
  /* Play */
  /* Stop */
  /* Fast-Forward */
  /* Rewind */
  /* Pause */
}
.audiobuttons.small button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 solid #d0d0d0;
    border-radius: 10em;
    display: inline-block;
    height: 3em;
    margin-right: 5px;
    padding: 15px;
    position: relative;
    width: 30px;
}
.audiobuttons.small button:hover {
  background: none;
}
.audiobuttons.small button:before,
.audiobuttons.small button:after {
  position: absolute;
  content: " ";
}
.audiobuttons.small button:active {
  top: 0.15em;
  
}
.audiobuttons.small .play:before {
  z-index: 2;
  top: 0.66em;
  left: 1.08em;
  width: 0;
  height: 0;
  border: 0.9em solid transparent;
  border-left-color: rgba(100, 100, 100, 0.8);
  border-left-width: 1.35em;
}
.audiobuttons.small .play:hover:before {
  border-left-color: rgba(36, 36, 36, 0.8);
}
.audiobuttons.small .stop:before {
  top: 0.84em;
  left: 0.84em;
  width: 1.41em;
  height: 1.41em;
  background: #a6352a;
}
.audiobuttons.small .stop:hover:before {
  background: #c84337;
}
.audiobuttons.small .ff:before,
.audiobuttons.small .ff:after {
  width: 0;
  height: 0;
  top: 0.78em;
  border: 0.75em solid transparent;
  border-left-color: rgba(100, 100, 100, 0.8);
  border-left-width: 0.81em;
}
.audiobuttons.small .ff:before {
  left: 0.9em;
}
.audiobuttons.small .ff:after {
  left: 1.698em;
  content: " ";
}
.audiobuttons.small .ff:hover:before,
.audiobuttons.small .ff:hover:after {
  border-left-color: rgba(36, 36, 36, 0.8);
}
.audiobuttons.small .rw:before,
.audiobuttons.small .rw:after {
  width: 0;
  height: 0;
  top: 0.78em;
  border: 0.75em solid transparent;
  border-right-color: rgba(100, 100, 100, 0.8);
  border-right-width: 0.81em;
}
.audiobuttons.small .rw:before {
  left: 0.66em;
}
.audiobuttons.small .rw:after {
  left: -0.15em;
  content: " ";
}
.audiobuttons.small .rw:hover:after,
.audiobuttons.small .rw:hover:before {
  border-right-color: rgba(36, 36, 36, 0.8);
}
.audiobuttons.small .pause:before,
.audiobuttons.small .pause:after {
  height: 1.41em;
  width: 0.57em;
  left: 0.87em;
  top: 0.84em;
  display: block;
  background-color: rgba(100, 100, 100, 0.8);
}
.audiobuttons.small .pause:after {
  left: 1.62em;
}
.audiobuttons.small .pause:hover:before,
.audiobuttons.small .pause:hover:after {
  background-color: rgba(36, 36, 36, 0.8);
}


/* ------ VOLULME ----- */

input[type=range]::-moz-focus-outer {
    border: 0;
    }
	
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
	
	
input[type=range] {
  -webkit-appearance: none;
  margin: 3px 0;
  width: 43%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #d2d2d2;
  border-radius: 1.3px;
  border: 0.2px solid #cccccc;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #cccccc;
  height: 20px;
  width: 15px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c84337;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #d2d2d2;
  border-radius: 1.3px;
  border: 0.2px solid #cccccc;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #cccccc;
  height: 15px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #d2d2d2;
  border: 0.2px solid #cccccc;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #cccccc;
  height: 15px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #d2d2d2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d2d2d2;
}


/* ----- PRESETS ----- */


.preset-buttons-container {border-left: 1px solid #e1e1e1;
    float: left;
    font-size: 0px;
    line-height: 32px;
    margin-left: 23px;
    padding-left: 100px;
    padding-top:15px;
    width: 550px;}
	
.preset-buttons {width:420px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}


.bg-color {background-color:#f7f7f7;}
.station-name-box {width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #e54f41;
    margin:0 auto;}	
	
.audio-player-close {text-align:left; font-size:16px; padding:10px 20px 20px;  width:1170px; margin:0 auto; color:#333;}




/* -------- DJ BOOTH --------- */


.artist-name {width:100%; float:left; text-align:center;}
.artist-spacer {height:5px; margin:25px auto 0; background-color:#fff; width:100%;}
.pad3t {padding-top:3px;}
.player-lft-time {width:50px; float:left;}
.player-rt-time {width:50px; float:right; text-align:right;}

.next-artist-name {width:66%; float:left;}
.timestamp-container {width:33%;}
.close-icon {width:15px; float:right; text-align:center; font-weight:bold; font-size:14px; line-height:11px; color:#666666;}
.close-icon-hover {color:#C61D1F;}

.commerical-timestamp {width:30%; float:left;}


/* -------- Tab Controls --------- */

.song-search {float:left; width:25px; margin-left:10px;}
.my-songs-only {height:20px; float:left; width:75px; font-size:11px;}
.my-songs-list {text-align:center; width:100%; float:left;}
.que-length-box {height:100px; border:1px dashed #ccc; background-color:#f5fff5;}

.upload-name {float:left; width:165px;}
.upload-progress {float:left; width:80px; text-align:center;}
.upload-status {float:left; width:80px; text-align:center;}
.upload-border {height:15px; margin-top:5px; border:1px solid #ccc; width:100%;}
.upload-add {float:left; width:80px; text-align:center; color:#26a020;}
.upload-error-status {float:left; width:80px; text-align:center; color:#C61D1F;}
.que-progress-box {height:15px; margin-top:5px; border:1px solid #ccc; width:100%;}